{% extends "layout.html" %}
<!-- TODO : edit to book application -->
{% block title %} Bookifier {% endblock %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul>
      <button class="btn btn-primary my-2 my-sm-0" type="submit">
        Logout
      </button>
    </form>
  </div>
</nav>
<h1>
  Hello! welcome to Bookifier
</h1>
<h2>
  What would you like to do?
</h2>
<div>
  <h3>1. Search for a book</h3>
  <!-- Search form -->
  <div class="md-form mt-0">
    <input
      class="form-control"
      type="text"
      placeholder="Enter ISBN number"
      aria-label="Search"
    />
  </div>
</div>
<div>
  <h3>2. Write a review</h3>
</div>
{% endblock %}
