{% extends "layout.html" %}
<!-- TODO : edit to book application -->
{% block title %} Bookifier {% endblock %} {% block body %}
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method = "post">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="logoutButton" value="logout">
      Logout
    </button>
  </form>
</nav>
<h1>
  Hello! welcome to Bookifier
</h1>
<h2>
  What would you like to do?
</h2>
<div>
  <h3>1. Search for a book</h3>
  <!-- Search form -->
  <form method="post">
    <div class="md-form mt-0">
      <input
        class="form-control"
        type="text"
        placeholder="Enter ISBN number"
        aria-label="Search"
        name="isbnInput"
      />
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="searchRadio" id="radio1" value="isbn" checked>
      <label class="form-check-label" for="radio1">
      search by ISBN
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="searchRadio" id="radio2" value="title">
      <label class="form-check-label" for="radio2">
        search by Title
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="searchRadio" id="radio3" value="author">
      <label class="form-check-label" for="radio3">
        search by Author
      </label>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

</div>
{% endblock %}
