{% extends "layout.html" %}
<!-- TODO : edit to book application -->
{% block title %} Bookifier {% endblock %} {% block body %}
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method = "post">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="logoutButton" value="logout">
      Logout
    </button>
  </form>
</nav>
<h1>
  Hello! welcome to Bookifier
</h1>
<h2>
  What would you like to do?
</h2>
<div>
  <h3>1. Search for a book</h3>
  <!-- Search form -->
  <form method="post">
    <div class="md-form mt-0">
      <input
        class="form-control"
        type="text"
        placeholder="Enter ISBN number"
        aria-label="Search"
        name="isbnInput"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

</div>
<div>
  <h3>2. Write a review</h3>
</div>
{% endblock %}
