{% extends "layout.html" %} {% block title %} Registration {% endblock %} {%
block body %}
<h1>Bokifier</h1>
<h2>Registration:</h2>

<form  method= "post" >
  <div class="form-group">
    <label for="userNameInput">Choose a username</label>
    <input
      type="text"
      class="form-control"
      name = "username"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="userPasswordInput">Choose a password:</label>
    <input
      type="password"
      class="form-control"
      name="password1"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <label for="userPasswordInput">Enter password again:</label>
    <input
      type="password"
      class="form-control"
      name="password2"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
